<html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href='./css/common.css'></script>
<title>vue</title>
</head>
<style type="text/css">
.l_20{
	display:inline-block;
	width:20%
}
</style>
<body>
	<div id="app">
		{{selectedPref}}
		<div v-show="isshowpref">
			<button class="btn btn-primary" v-on:click="checkPref">県選択</button>
			<div>
				<li class="l_20" v-for="(pref,index) in prefs">
					<input type="radio" v-bind:value="pref" v-model="selectedPref" v-bind:id="'pref_' + index">
					<label v-bind:for="'pref_' + index">{{pref}}</label>
				</li>
			</div>
		</div>

	</div>
	<script src='./js/build.js'></script>
	<script src="vue.min.js"></script>
	<script src='./vue5.js'></script>
</body>
</html>
