
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue@2.5.17"></script>
</head>

<body>
<script src="https://unpkg.com/vue@2.5.17"></script>

<div id="login-example">
  <user-login></user-login>
</div>

<!-- テンプレート -->
<!-- type="text/x-template" は componentをわかりやすくかける-->
<script type="text/x-template" id="login-template">
  <div id="login-template">
    <div>
      <input type="text" placeholder="ログインID" v-model="userid">
    </div>
    <div>
      <input type="password" placeholder="パスワード" v-model="password">
    </div>
    <button @click="login()">ログイン</button>
  </div>
</script>

<script>
// コンポーネント定義
Vue.component('user-login', {
  template: '#login-template',
  data: function () {
    return {
      userid: '',
      password: ''
    }
  },
  methods: {
    login: function () {
      console.log(this.userid, this.password);
    }
  }
})

new Vue({
  el: "#login-example"
});
</script>
</body>
</html>